{% autoescape off %}

    Dear {{ tenant_name | linebreaksbr }}<br/><br/>

    We would like to inform you that your letting at {{ property_name }} will expire on {{ end_date }}. <br/> <br/>

    We hope you have enjoyed your tenancy. A support staff will be reaching out to you in the
    next couple of days to discuss your tenancy options. <br/><br/>

    Please do not hesitate to contact us if you have any questions. You can contact us via your tenant portal or
    send us an email directly to <a href="mailto:support@pyaleproperties.com">support@pyaleproperties.com</a>.
    You can also call us at <strong>+234 818 817 5030</strong>. <br/>

    Thank you for your patronage.

    <br/><br/>

    <span style="color: #999999">Please do not reply to this mail as this is an unmonitored mailbox</span>

{% endautoescape %}