{% extends 'admin/base_site.html' %}

{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/override.css' %}"/>
{% endblock %}

{% block footer %}
    {#    </div> <!-- Put footer outside #container -->#}
    {% if not is_popup %}
        <div id="footer">
            <footer class="footer">
                <div class="container-fluid">
                    {% block footer_content %}
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 text-sm-center footer-copyright">
                                {% block copyright %}
                                    Copyright &copy;
                                    <span class="hidden-md-down">2018-</span>{% now "Y" %} Pyale Properties
                                    <br>
                                    <a href="http://djangosuit.com" target="_blank">www.pyaleproperties.com</a>
                                {% endblock %}
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </footer>
        </div>
    {% endif %}
{% endblock %}